.toot {
	display: flex;
	width: 95%;
  white-space: normal;

  /*区切り線のスタイル*/
  border: solid 1px #838383;
  padding: 2px;
  border-radius: 4px;
}

.toot.container {
	display: flex;
}

.toot.box:last-of-type {
	padding-left: 10px;
  flex-grow: 1;
}

.toot.box img {
  border-radius: 5px;
  float: left;
}

.inner-e-content {
	display: block;
	direction: lt;
	white-space: unset;
}

.inner-e-content p {
	word-break: break-word;
}

.toot img.emoji {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.toot img.thumbs {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.inner-display-name span:before {
	white-space: pre-wrap; 
	content: " ";
}

.inner-u-photo {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
	vertical-align: top;
}

.sensitive {
	filter: blur(15px);
}

.sensitive:hover {
	filter: none;
}